* {
  /* font-family: "Noto Sans", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/* THREEJS */
canvas {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
}

.canvas-wrapper {
  z-index: 0;
}

/* WEBSITE */
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.page-wrapper {
  display: grid;
  grid-template-areas:
    "head head"
    "side about"
    "side projects"
    "side contact"
    "footer footer";
  grid-template-columns: 3fr 3fr;
  position: absolute;
  z-index: 5;
  width: 100%;
}

.fill {
  width: 200px;
  height: 800px;
}

/* ::-webkit-scrollbar {
  width: 0px;
  background: transparent; 
} */

/* NAV */
nav a {
  text-decoration: none;
  color: black;
}

nav {
  position: absolute;
  z-index: 5;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 15px;
  background-color: #bd1e1e;
  border-radius: 5px;
  color: white;
  padding: 10px;
}

/* TITLE */

.section-title {
  grid-area: head;
  scroll-snap-align: start;
  height: 125vh;
}

.title-wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 500px;
  display: block;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 65px;
  margin-bottom: 10px;
}

.myButton {
  background-color: #eae0c2;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  border: 0;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background-color: #ccc2a6;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/* ABOUT */

.section-about {
  opacity: 0;
  grid-area: about;
  scroll-snap-align: start;
  height: 100vh;
}

.about-me-img {
  height: 400px;
  margin-right: 40px;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
}
/* PROJECTS */

.section-projects {
  opacity: 0;
  grid-area: projects;
  scroll-snap-align: start;
}

.project {
  height: 300px;
  width: 300px;
  background-color: red;
  margin: 5px;
}

/* CONTACT */

.section-contact {
  opacity: 0;
  grid-area: contact;
  scroll-snap-align: start;
  height: 100vh;
}

/* TEXT FADE */

.inView {
  opacity: 1;
  animation: fadeInText 0.5s ease-in-out;
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* FOOTER */

footer {
  grid-area: footer;
  background-color: gray;
  height: 25vh;
}
